---
// Props del componente
const { id, src, alt } = Astro.props;
---

<!-- Miniatura de la imagen -->
<a href={`#${id}`} role="button">
  <img
    alt={alt}
    src={src}
    class="h-16 rounded-md hover:shadow-md duration-300 saturate-[10%] hover:saturate-100 hover:scale-105"
  />
</a>

<!-- Contenedor Modal -->
<div
  id={id}
  class="absolute invisible inset-0 bg-black bg-opacity-0 flex justify-center items-center z-40 p-6 gap-2 target:visible target:bg-opacity-50 target:backdrop-blur-md group duration-300 ease-in-out"
>
  <img
    alt={alt}
    src={src}
    class="z-10 rounded-md max-w-[720px] w-full opacity-0 scale-50 group-target:opacity-100 group-target:scale-100 duration-300 ease-in-out"
  />
  <a href="#" class="absolute inset-0" role="button"></a>
</div>
