---
// Props del componente
const { id, src, alt } = Astro.props;
---

<a href={`#${id}`}>
    <img
        src={src}
        alt={alt}
        class="h-16 rounded-md shadow-md duration-300 hover:scale-105"
    />
</a>

<div
    id={id}
    class="absolute inset-0 bg-black bg-opacity-50 justify-center items-center hidden z-50 target:flex target:flex-col p-6 gap-6 backdrop-blur-sm"
>
    <img src={src} alt={alt} class="rounded-md max-w-[720px] w-full" />
    <a
        href="#"
        class="text-white text-3xl border-2 rounded-full aspect-square text-center"
        >&times;</a
    >
</div>
